# Ignore compiled Python files
*.pyc

# Ignore virtual environment directories
venv/
env/
.env
# Ignore IDE and editor files
.idea/
.vscode/

# Ignore sensitive or private files
secrets.txt
credentials.json